alabaster==0.7.16
ansi2html==1.8.0
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.2.1
async-lru==2.0.4
attrs==23.1.0
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
colour==0.1.5
comm==0.1.3
ConfigArgParse==1.7
contourpy==1.1.0
cycler==0.11.0
Cython==3.0.4
dash==2.13.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
docutils==0.20.1
exceptiongroup==1.2.0
executing==1.2.0
fastjsonschema==2.18.0
filelock==3.12.2
Flask==2.2.5
fonttools==4.42.0
fqdn==1.5.1
freetype-py==2.4.0
geomapi==0.3.2
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
idna==3.4
ifcopenshell==0.7.0.231018
imageio==2.31.1
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.0.0
ipykernel==6.25.0
ipython==8.14.0
ipywidgets==8.1.1
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.3.1
json5==0.9.17
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-cache==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.3
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.2
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
kiwisolver==1.4.4
lark==1.1.7
laspy==2.5.1
lazy_loader==0.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mesh-to-sdf==0.0.14
mesh2sdf==1.1.0
mistune==3.0.2
mpmath==1.3.0
myst-nb==1.0.0
myst-parser==2.0.0
nbclient==0.9.0
nbconvert==7.16.1
nbformat==5.7.0
nest-asyncio==1.5.7
networkx==3.1
notebook==7.1.1
notebook_shim==0.2.4
numpy==1.25.1
numpy-quaternion==2022.4.3
open3d==0.17.0
opencv-python==4.8.1.78
overrides==7.7.0
packaging==23.1
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.3
patch-based-inpainting==0.0.3
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.9.1
plotly==5.17.0
prometheus_client==0.20.0
prompt-toolkit==3.0.39
psutil==5.9.5
pure-eval==0.2.2
pycparser==2.21
pye57==0.4.1
pyglet==2.0.8
Pygments==2.15.1
PyMCubes==0.1.4
pyntcloud==0.3.1
PyOpenGL==3.1.0
pyparsing==3.0.9
pyquaternion==0.9.9
pyrender==0.1.45
python-dateutil==2.8.2
python-fcl==0.7.0.5
python-json-logger==2.0.7
pytz==2023.3
PyWavelets==1.4.1
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==25.1.0
qtconsole==5.5.1
QtPy==2.4.1
rdflib==7.0.0
referencing==0.30.2
requests==2.31.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.10.3
Rtree==1.1.0
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.1
segment-anything==1.0
Send2Trash==1.8.2
six==1.16.0
sklearn==0.0.post7
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.27
stack-data==0.6.2
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
terminado==0.18.0
threadpoolctl==3.2.0
tifffile==2023.7.18
tinycss2==1.2.1
tomli==2.0.1
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.3.2
traitlets==5.9.0
trimesh==3.22.5
types-python-dateutil==2.8.19.20240106
typing_extensions==4.7.1
tzdata==2023.3
uri-template==1.3.0
urllib3==2.0.4
validators==0.22.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==2.2.3
widgetsnbextension==4.0.9
xatlas==0.0.8
XlsxWriter==3.1.9
zipp==3.16.2
